doctype html
html

    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title Заказ товара BATTERY TEAM - Тула
        link(href="css/font.css" rel="stylesheet" type="text/css")
        link(href="css/jquery.datatables.min.css" rel="stylesheet" type="text/css")
        link(href="css/style.min.css" rel="stylesheet" type="text/css")
        link(href="css/hm-style.min.css" rel="stylesheet")
        link(href="css/jqcart.min.css" rel="stylesheet" type="text/css")
        link(href="css/knop.css" rel="stylesheet" type="text/css")
        script(src="js/es5-sham.min.js")
        script(src="js/es5-shim.min.js")
        script(src="js/jquery.min.js" type="text/javascript")
        script(src="js/jquery.datatables.min.js" type="text/javascript")
        script(src="js/jqcart.min.js" type="text/javascript")
        script(src="js/main.js" type="text/javascript")
        script(src="js/jquery.cookie.js" type="text/javascript")
        script(src="js/knop.js" type="text/javascript")
        script(src="js/rotate.js" type="text/javascript")
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    body.hm
        script.
            $(document).ready(function () {
                if ($(window).width() <= '800') {
                    $('#category-list:first').remove();
                    $('#category-toggle').click();
                    $('#category-toggle').css('display', 'none');

                }
            });
            $(document).ready(function () {
                $(document).on('touchstart', '[role="row"]', function () {
                    var ID = this.id;
                    console.log(ID);
                    if ($(window).width() <= '800') {
                        $("#" + ID + " > td").css('display', 'block');
                        $("#" + ID + " > td:first").css('display', 'none');
                        /*так делать нельзя*/
                        var fourth;
                        var fourth = $("#" + ID + " > td:nth-child(4)").html();
                        fourth = 'В наличии: ' +
                            $("#" + ID + " > td:nth-child(4)").html(fourth);
                    }

                })
            });

        style(type="text/css").
            @media screen and (max-device-width: 800px) {
                .dataTable {
                    border: 1px solid black;
                }

                .mobcat {
                    display: block !important;
                }

                td {
                    text-align: center !important;
                    display: block;
                    width: 100%;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    width: 98%;

                }

                td:nth-child(2) {
                    border-top: 1px solid black;

                }

                td:last-child {
                    border-bottom: 1px solid black;

                }

                td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9) {
                    display: none;
                }

                .item_id {
                    display: none;
                }

                .item_title {
                    text-align: center;
                }

                .item_descr {

                }

                .item_sum {

                }

                .jmin {

                }

                .hm--spinner {
                    width: auto;
                }

                th {
                    display: none;
                }

                .block {
                    padding: 5px;
                }

                .hm--data-table-wrap {
                    margin: 0px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
            }
        div.content
            header
                div#header
                    div#logo.logo
                        h1
                            a(href="http://www.bteam.ru/") BATTERY TEAM
                        h3
                            a(href="http://www.bteam.ru/") Тульский Региональный Филиал
            div(style='clear:both')
                hr.line
//render data
    each item in mass
                        li.product-wrapper
                            a.product(href="")
                                div.product-main
                                    div.product-photo
                                        img(src=item.icon)
                                        div.product-preview
                                            span(data-info=item._id).button.to-cart В корзину

                                    div.product-text
                                        div.product-name #{item.name}
                                div.product-details-wrap
                                    div.product-details
                                        div.product-availability
                                            span.icon.icon-check #{item.status}
                                        span.product-price
                                            if(isLoged)
                                                small #{item.price} руб / #{item.specialPrice1} руб / #{item.specialPrice2} руб/ #{item.specialPrice3} руб
                                            else
                                                b #{item.price}
                                                small руб.
//render cat
    each item in categor
                            div.categor-item
                                a(href="#" data-info=item) #{item}